fasttext
matplotlib
textgrid
Ipython
configArgParse
Cython
imageio
librosa
lmdb
loguru
nnAudio
numba
numpy
opencv-python
pandas
parso
Pillow
pooch
protobuf
psutil
ptyprocess
pyarrow
pycosat
pycparser
pyparsing
pyrsistent
PyWavelets
PyYAML
pyzmq
scikit-image
scikit-learn
scipy
six
sklearn
termcolor
terminado
testpath
tifffile
timm
torch
torchaudio
torchvision
tornado
yacs
yarg
yarl
tqdm
tensorboard