///
/// Archetype by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Footer */

	#footer {
		@include banner-bg('../../images/banner.jpg');
		@include color-typography(accent4);
		@include color-button(accent4);
		@include color-section(accent4);

		.content {
			@include padding(6.5em, 0);
			background-color: _palette(accent4, bg);

			> .inner {
				@include vendor('display', 'flex');
				margin: 0 auto;
				width: 70em;

				> * {
					padding-left: (_size(element-margin) * 1.5);
					width: 25%;
				}

				.about {
					padding-left: 0;
					width: 50%;
				}
			}

			@include breakpoint('<=large') {
				@include padding(5em, 3em);

				> .inner {
					width: _size(inner-width, large);

					> * {
						width: 30%;
					}

					.about {
						width: 40%;
					}
				}
			}

			@include breakpoint('<=medium') {
				> .inner {
					@include vendor('flex-wrap', 'wrap');

					> * {
						width: 50%;
						padding-left: 0;
					}

					.about {
						width: 100%;
						margin: 0 0 _size(element-margin) 0;
					}
				}
			}

			@include breakpoint('<=small') {
				@include padding(2.5em, 2em);
			}

			@include breakpoint('<=xsmall') {
				@include padding(2.5em, 1.5em);

				> .inner {
					> * {
						width: 100%;
					}
				}
			}
		}

		.copyright {
			font-size: 0.8em;
			margin: 0;
			padding: 8em 0;
			text-align: center;

			br {
				display: none;
			}

			a {
				color: inherit;
			}

			@include breakpoint('<=large') {
				padding: 6em 0;
			}

			@include breakpoint('<=small') {
				padding: 4em 0;
			}

			@include breakpoint('<=xsmall') {
				br {
					display: block;
				}
			}
		}

		body.is-mobile & {
			background-attachment: scroll;
		}
	}